RewriteEngine On

RewriteRule ^([a-zA-Z]+)/?$ index.php?ctrl=$1&act=index
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/?$ index.php?ctrl=$1&act=$2
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)$ index.php?ctrl=$1&act=$2&id=$3